name: Create new release
on:
  pull_request:
    types: closed

jobs:
  create-new-release:
    if: |
      github.event.pull_request.merged &&
      (startsWith(github.head_ref, 'release-v') ||
      startsWith(github.head_ref, 'release/v')) &&
      startsWith(github.base_ref, 'main')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create release
        run: |
          VERSION=$(echo "${{github.head_ref}}" | sed -E "s/^release[\/-]//")
          gh release create $VERSION --notes "Bump to $VERSION" --title "Release-$VERSION" --target "${{github.head_ref}}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
