name: Merge release pr
on:
  pull_request:
    types: opened

jobs:
  approve-release-pull-request:
    env:
      RELEASE_BOT_NAME: ${{ secrets.RELEASE_BOT_NAME }}
      RELEASE_BOT_ID: ${{ secrets.RELEASE_BOT_ID }}
    if: |
      startsWith(github.head_ref, 'release-v') &&
      startsWith(github.base_ref, 'main') &&
      github.event.pull_request.user.login == '${{ env.RELEASE_BOT_NAME }}' &&
      github.event.pull_request.user.id == '${{ env.RELEASE_BOT_ID }}'
    runs-on: ubuntu-latest
    steps:
      - name: Approve Pull Request
        run: gh pr review $PR --approve
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR: ${{ github.event.pull_request.html_url }}
  re-trigger-circleci-for-cocoapods:
    env:
      RELEASE_BOT_NAME: ${{ secrets.RELEASE_BOT_NAME }}
      RELEASE_BOT_ID: ${{ secrets.RELEASE_BOT_ID }}
    if: |
      startsWith(github.head_ref, 'release-v') &&
      startsWith(github.base_ref, 'main') &&
      github.event.pull_request.user.login == '${{ env.RELEASE_BOT_NAME }}' &&
      github.event.pull_request.user.id == '${{ env.RELEASE_BOT_ID }}'
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - name: Rerun circleci
        timeout-minutes: 40
        run: |
          # Rerun circleCI for cocoapods during 36 minutes
          for n in {1..3};
          do
            curl --request POST \
            --url https://circleci.com/api/v2/project/github/mapbox/mapbox-common-ios/pipeline \
            --header 'Circle-Token: ${{ secrets.CCI_TOKEN }}' \
            --header 'content-type: application/json' \
            --data '{"branch":"${{ github.head_ref }}"}'
            sleep 720
          done
